.SideTray {
    height: 100%;
    width: 40%;
    position: fixed;
    top: 56px;
    right: 0;
    background-color: #c7c5c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    overflow-y: auto;
}
