.SideTray {
    height: 100%;
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #a7a7a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    overflow-y: scroll;
}
