.Highlight {
    opacity: 0.5; 
   background: #ff0; 
   box-shadow: 0px 2px 10px #ff0; 
   color: transparent; 
   white-space: pre; 
   position: absolute;
}

.TextHighlight {
    opacity: 0.5; 
   background: #f82991; 
   color: transparent; 
   white-space: pre; 
   position: absolute;
}
